/* Created by Steven Masley */

/* Created by Steven Masley */

/* Created by Steven Masley */

body {
  font-size: 50px;
  background: url("https://ncg-live-assets.ams3.cdn.digitaloceanspaces.com/uploads/2021/02/1-Ball-in-Golf-1.jpg") no-repeat center center fixed;
  background-size: cover;
}

table {}

td {}

.converter {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.convert_button {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  margin-left: 50px;
}